@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.btn-style {
  color: #000;
  letter-spacing: 0.2em;
  background-size: 220px 2px;
  background-color: rgba(240, 197, 46, 1);
}

.main-header {
  background-color: rgba(247, 226, 150, 1)
}

.main-footer  {

  background-color: rgba(70, 70, 70, 1)
}

.main-footer p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.header-logo img {
  width: 200px;
  height: 38px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.footer-logo img {
  width: 200px;
  height: 38px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.header-link {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000;
  position: relative;
  padding: 0 0 0 20px;
}

.header-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
}

.header-link-login::after {
  background: red;
}

.header-link-logout::after {
  background: green;
}

.header-link-user::after {
  background: gold;
}

.header-link-basket::after {
  background: #fff;
}

.header-link-compere::after {
  background: grey;
}


.nav-submenu:hover + .submenu {
  display: block;
}

.submenu {
  display: none;
}

.header-link:hover {
  opacity: 0.6;
}

.header-link:active {
  opacity: 0.3;
}

.submenu-link {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000;
}

.submenu-link:hover {
  opacity: 0.6em;
}

.submenu-link:active {
  opacity: 0.3em;
}

.footer-user-navigation a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);

}

.main-navigation-link {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  opacity: 1;
}

.main-navigation-link:hover {
  opacity: 0.6;
}

.main-navigation-link:active {
  opacity: 0.3;
}

.catalog-item a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.header-user-navigation li,
.main-navigation li {
  list-style: none;
}

.footer-social li,
.footer-user-navigation li,
.social-button li {
  list-style: none;
}

.footer-social a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
}

.footer-social-item {
  opacity: 1;
}

.footer-social-item:hover {
  opacity: 0.6;
}

.footer-social-item:active {
  opacity: 0.3;
}

.footer-copyright-link {
  opacity: 1;
}

.footer-copyright-link:hover {
  opacity: 0.6;
}

.footer-copyright-link:active {
  opacity: 0.3;
}

.social-button-item {
  opacity: 0.3;
}

.social-button-item:hover {
  opacity: 0.6;
}

.social-button-item:hover {
  opacity: 0.1;
}

.info h2,
.contacts h2 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 1);
}

.info p,
.contacts p {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(70, 70, 70, 1);
}

.main-footer p {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}
.social-button {
  position: relative;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 40px;
  width: 5px;
  height: 5px;
  background: transparent;
  padding-left: 20px;
}

/* .social-button-vk::after {
  background-color: red;
}

.social-button-fb::after {
  background-color: green;
}

.social-button-int::after {
  background-color: gold;
} */

.footer-link {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000;
  position: relative;
  padding: 0 0 0 20px;
  opacity: 0.7;
}

.footer-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
}

.footer-link-login::after {
  background: red;
}

.footer-link-logout::after {
  background: green;
}

.footer-link-user::after {
  background: gold;
}

.footer-link-basket::after {
  background: #fff;
}

.footer-link-compere::after {
  background: grey;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link:active {
  opacity: 0.3;
}

.breadcrumbs-token {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgba(183, 183, 183, 1);
  opacity: 0.3;
}

.breadcrumbs li {
  list-style: none;
}

.filters {
  background: #efefef;
}

.filter-name-block {
  letter-spacing: 0.1em;
}

.form-content-name {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 1);
}

.catalog p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.brands li {
  list-style: none;
}

.catalog-item-title {
  letter-spacing: 0.1em;
}

.catalog-item-price {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-weight: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #464646;
}

.number {
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.1em;
  color: #464646;
}

.main-slogan {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000;
}

.add-slogan {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #464646;
}

.first-line td {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #464646;
}

.second-line td {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: #464646;
}

.main-katalog li {
  list-style: none;
}

.image-katalog-item {
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  opacity: 0.5;
}

.name-katalog-item {
  letter-spacing: 0.01em;
  color: #000;
}

.headline-slider {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: #000;
}

.text-slider {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #464646;
}

.services-slide-1 {
  background-color: #e5e5e5;
  /* background-image: url("../img/delivery.svg") 100% 50%; */
}

.services-slide-2 {
  background-color: #e5e5e5;
  /* background-image: url("../img/warranty.svg") 100% 50%; */
}

.services-slide-3 {
  background-color: #e5e5e5;
  /* background-image: url("../img/credit.svg") 100% 50%; */
}

/* .close-btn {
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
} */

.sorting-list-item li,
.sorting-type li,
.sorting-up-down li {
  list-style: none;
}

.filters-element {
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.sort-element {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.catalog ul {
  list-style: none;
}
